<!--This is the Footer partial-->

<footer class="site_footer ">
    <h6> Website Developed by D. Hosea </h6>
    <h6>Github: <a href="https://github.com/hosea1989"> <mark>Click Me!</mark></a></h6>
</footer>