/* This is a comment in CSS */
body{
    width: 80%;
    margin: auto;
    border: 2px solid darkgray;
    background-color: rgba(0, 0, 0, 0.75)
}
header{
    text-align: center;
    font-size: 30px;
}

section{
    text-align: center;
}

label{
    border: 1px solid grey;
    margin:16px;
    padding: 2px;
    display: inline-block;
    background-color: rgb(190, 190, 190);
    color: rgb(63, 63, 63);
    width: 5rem
}

label:hover{
    background-color: white;
}

h1{
    color: grey;
}
h1::first-letter{
    color: #000000;
    font-weight: 900;
}

.grid-container {
    display: grid;
    grid-template-areas:
'header header header header header'
'main main main main main '
'footer footer footer footer footer';
    grid-auto-rows: auto auto auto;
}

.item1{
    grid-area: header;
    position: sticky;
    width: 100%;
    /*color: white;*/
    /*text-align: center;*/
    /*background-color: darkblue;*/
    /*opacity: 70%;*/
}
.nav {
    display:flex;
    width: 95%;
    background: #fcfcfc;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}


.nav .icon{
    font-size:35px;
    font-weight: 800;
    color: white;
    cursor: pointer;

}

.nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

.nav ol li{
    margin: 0 2px;
}

.nav ol li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding:5px 10px;
}
/*----------------------------*/
.item2{
    grid-area: main;
    margin: auto;
}

.item2 .photo_box{
    opacity: 95%;
    /*padding: 50px;*/
    border: 2px black outset;
    float: right;

}

#event{
    height: 100px;
}

.item2 p{
    width: 90%;
    color: white;
    background: #000000;
    opacity: 80%;
    text-align: center;
    float: right;
}
img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: lightgray;
    justify-content: center;
    float: right;
}
#items-count{
    text-align: center;
    color: white;
}
/*---------------------*/

.item3 {
    grid-area:footer;
    text-align: center;
    color: white;
}
.site_footer{
    color: white;
    text-align: center;
}
