/*  The Color Scheme is Black, Gold, Grey and White */
body, html{
    height: 100vh;
}
body {

    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    /* background: rgb(2,0,36); */
}

h1{
    text-align: center;
    color: #d4af37;
    padding: 20px;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkblue;
}

label{
    /* color: rgb(0, 0, 0); */
    color: #d4af37;
    font-size:larger;
}
/* The hash (#) sign goes by id. */
#button{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 30px;
    background: #d4af37;
    border-radius: 15px ;
    box-shadow: #000000;
}

span{
    color:rgb(2, 2, 1);
    font-size: 17px
}

a{
    background-color: #d4af37;
}
.input{
    background: #d4af37;
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 17px;
    padding-left:8px;
    color:rgb(0, 0, 0)
}
.container {
    /* grid-area: 1 / 1 / 2 / 5; */
    /* grid-area: header; */
    /*width: 382px;*/
    width: 100vw;
    height: 100vh;
    /*overflow: auto;*/
    /*margin:auto;*/
    font-family: 'black', "Sama Devanagari";
    /*margin:20 0 0 450px;*/
    padding: 10px;
    /*background: rgb(109, 108, 108);*/
    /*border-radius: 15px;*/
    /*border-style: outset;*/
    font-size: 20px;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr;


    grid-template-areas:
            "Header Header Header"
            "Nav Nav Nav"
            "Main Main Main";
    gap: 5px;
    box-sizing: border-box;
}
.header{

    justify-self: stretch;
    grid-area: Header;
    background-color: black;
    text-align: center;
    font-size: 1px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px, 0 0 5px darkblue;
}
form{
    justify-self: center;
    display: block;
    text-align: center;
    grid-area: Main;
    background-color: white;
    border: 8px solid dimgrey;
    /*resize: both;*/
    /*overflow: auto;*/
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.Nav {
    justify-self: stretch;
    grid-area: Nav;
    /*overflow: hidden;*/
    background-color: orange;
}
.Nav a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    float:left;
    background-color: orange;
}
.Nav a.right{
    float:right;
}

.Nav a:hover{
    background-color: #333;
}

/*.header-container{*/
/*    width: 382px;*/
/*    overflow: hidden;*/
/*    margin:auto;*/
/*    margin:20 0 0 450px;*/
/*    padding: 16px;*/
/*    background: rgb(109, 108, 108);*/
/*    border-radius: 15px;*/
/*    border-style: outset;*/
/*}*/
/*.notice-container{*/
/*     !* grid-area: 1 / 1 / 2 / 5; *!*/
/*    !* grid-area: header; *!*/
/*    width: 382px;*/
/*    overflow: hidden;*/
/*    margin:auto;*/
/*    margin:20 0 0 450px;*/
/*    padding: 16px;*/
/*    background: rgb(109, 108, 108);*/
/*    border-radius: 15px;*/
/*    border-style: outset;*/

/*}*/