/*  The Color Scheme is Black, Gold, Grey and White */
body,html{
    height: 100vh;
}

body{
    font-family: monospace;
    margin: 0;
    padding:0;
    background-color: black;
    /* background: rgb(2,0,36); */
    display: grid;
    gap: 10px;
}
/*.Background-Image{*/
/*    background-image: url('images/1314202.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/
form{
    width: 550px;
    border: 4px outset white;
    padding: 50px;
    margin: auto;
    background: darkgray;
}

header{
    color: black;
    text-align: center;
    font-size: 25px;
}
footer{
    text-align: center;
    color: white;
    font-size: 22px;
}
h1{
    text-align: center;
    /*color: #d4af37;*/
    padding:09px;
    font-size: 50px;
    color: white;
    /*text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkblue;*/
    overflow: auto;
}
/*p{*/
/*    color: white;*/
/*}*/
header{
    color: white;
}

input[type=email], input[type=password], input[type=text]{
    font-size: medium;
    /*height: 30px;*/
    /*display: inline-block;*/
    display: block;
    width: 100%;
    padding: 9px 0;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    /*text-align: center;*/
}

input[type=submit]{
    width: 75%;
    background-color: #3f3e3e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*.Nav {*/
/*    justify-self: stretch;*/
/*    grid-area: Nav;*/
/*    !*overflow: hidden;*!*/
/*    background-color: orange;*/
/*}*/
/*.Nav a{*/
/*    display:block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 25px;*/
/*    text-decoration: none;*/
/*    float:left;*/
/*}*/
/*.Nav a.right{*/
/*    float:right;*/
/*}*/

/*.Nav a:hover{*/
/*    background-color: #333;*/
/*}*/

#username{
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 3px;
    /*padding-left: px*/
}

#password{
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 3px;
    /*padding-left: px*/
}
/*.input Submit{*/
/*    width: 300px;*/
/*    height: 30px;*/
/*    border:none;*/
/*    border-radius: 17px;*/
/*    padding-left:8px;*/
/*    color:rgb(0, 0, 0)*/
/*}*/

span{
    color:rgb(2, 2, 1);
    font-size: 20px;
    text-align: center;
}

.submit-button{
    background: #d4af37;
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 17px;
    padding-left:8px;
    color:rgb(0, 0, 0)
}

.Login-Container{
    text-align: center;
    /*padding-bottom: 100%;*/
    padding: 5px;
    background-color: #a1a1a1;
    /*bottom*/
}
.Terms-Container{
    text-align: center;
    padding: 5px;
    background-color: #232323;
    border: 5px outset silver;
    /*width: px;*/
    height: 9%;
    color: white;
}

a{
    background-color: #232323;
    display: inline-block;
    padding: 5px;
    color: orange;
}